.container {
  border-radius: 4px;
  font-size: small;
  padding: 4px;
  display: inline-block;
}

.container:not(:last-child) {
  margin-bottom: 4px;
  margin-right: var(--spacingSmall);
}

.primary {
  background-color: var(--colorPrimary);
  color: #FFF;
}

.secondary {
  background-color: var(--colorSecondary);
}
