.container {
  padding: var(--spacingLarge) 0;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacingMedium);
}

.inputField {
  padding: var(--spacingSmall);
}

.button {
  border: 0;
  border-radius: 4px;
  background-color: var(--colorPrimary);
  margin-left: var(--spacingMedium);
  padding: var(--spacingSmall) var(--spacingMedium);
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
}
