.container {
  background-color: #FFF;
  width: 320px;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 72px;
  box-shadow: #2e2e2e -2px 2px 4px;
  transform: translateX(-100%);
}
