.container {
  background-color: #FFF;
  width: 320px;
  height: calc(100vh - 72px);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 72px;
  box-shadow: #2e2e2e -2px 2px 4px;
  transform-origin: top left;
}

.toggle {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.block {
  width: 24px;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease;
}

.block:not(:last-child) {
  margin-bottom: 4px;
}
