.container {
  width: 100%;
  box-shadow: #2e2e2e -2px 0px 4px;
  background-color: var(--colorPrimary);
  padding: var(--spacingMedium) var(--spacingLarge);
  position: sticky;
  top: 0;
}

.heading {
  margin: 0;
  color: var(--colorWhite);
}
