.container {
  box-shadow: #2e2e2e -2px 0px 4px;
  background-color: var(--colorPrimary);
  padding: var(--spacingMedium) var(--spacingLarge);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--colorWhite);
}

.heading {
  margin: 0;
}

.githubLink:hover {
  color: inherit;
}
