.container {
  margin-bottom: var(--spacingLarge);
  padding: var(--spacingLarge);
  height: 220px;
  background: linear-gradient(to right, var(--bannerBgColor1), var(--bannerBgColor2));
}

.heading {
  margin: 0;
  font-size: xxx-large;
}

.logo {
  height: 40px;
}
